/* SPDX-License-Identifier: GPL-2.0+
 *
 * Axera Laguna FPGA Platform device tree
 *
 * Copyright (C) 2024 Charleye <wangkart@aliyun.com>
 */

/dts-v1/;
#include "laguna.dtsi"

/ {
	compatible = "axera,laguna-fpga";
	model = "Axera Laguna FPGA Platform";
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&gic>;

	memory@400000000 {
		reg = <0x1 0x00000000 0x2 0x00000000>;
		device_type = "memory";
	};

	chosen {
		stdout-path = &serial1;
		bootargs = "earlycon=uart8250,mmio32,0x0E403000 console=ttyS1,115200n8 rdinit=/init rw loglevel=10";
	};
};

&pmu {
	status = "okay";
};

&dsu_pmu {
	status = "okay";
};

&serial1 {
	clock-frequency = <10000000>; //10MHz
	status = "okay";
};

&serial2 {
	clock-frequency = <10000000>; //10MHz
	status = "okay";
};

&serial3 {
	clock-frequency = <10000000>; //10MHz
	status = "okay";
};

&serial4 {
	clock-frequency = <10000000>; //10MHz
	status = "okay";
};

&serial5 {
	clock-frequency = <10000000>; //10MHz
	status = "okay";
};