# SPDX-License-Identifier: GPL-2.0+
#
# AXERA SoC drivers
#

menu "Axera SoC drivers"
	depends on ARCH_AXERA_AUTO || COMPILE_TEST

config AXERA_FUSA_SUPPORT
	bool "Axera FuSa Support"
	depends on NET
	help
	  Say yes here to add support for FuSa function.

config AXERA_DIAG_CORE
	tristate "Axera Diagnonsis Framework Core"
	depends on AXERA_FUSA_SUPPORT
	help
	  Say yes here to add support for Diagnonsis Framework
	  Core (DFC).

config DIAG_CORE_SELFTEST
	bool "Diagnonsis Framework Core Selftest"
	depends on AXERA_DIAG_CORE
	help
	  Say yes here to add support for Diagnonsis Framework
	  Core Selftest.

config DIAG_FAULT_INJECT
	bool "Support for DFC fault injection"
	depends on AXERA_DIAG_CORE
	depends on DEBUG_KERNEL
	select FAULT_INJECTION
	select DEBUG_FS
	select FAULT_INJECTION_DEBUG_FS
	help
	  Say yes here to add support for Diagnonsis Fault Injection

config AXERA_DIAG_TEST
	tristate "Axera Diagnonsis Core Test"
	depends on AXERA_FUSA_SUPPORT
	help
	  Say yes here to add support for Diagnonsis Framework
	  Core Test.

config SUBSYS_CONTROLLER
	bool "Support Subsystem Global Register Controller Driver"
	depends on MFD_SYSCON
	help
	  This option enable subsysctl driver for Global Register Controller.

config AXERA_BUS_ISOM
	bool "Bus Master Isolation Driver"
	help
	  If this is set, it will enable bus master isolation driver.

config AXERA_HW_INFO
	bool "Hardware-specific information display Driver"
	help
	  If this is set, it will enable hardware-specific information display driver.

endmenu
